
<div class="left-col">
<h1>Images</h1>
<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique</p>
<a class="" href="#">Continue »</a>
</div>

<div class="center-col">
<h1>Articles</h1>
<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique</p>
<a class="" href="#">Show More »</a>
</div>

<div class="right-col">
<h1>Videos</h1>
<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique</p>
<a class="" href="#">Read »</a>
</div>

