/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
    box-sizing: border-box;
}
.header {
    border: 1px solid green;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid #ccc;
}

.col-1 {width: 8.33%;}
.col-2 { min-width: 200px; height: 425px; width: 20%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 80%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;

}

.top-nav {
    border: 1px solid green;
    padding-top: 1em;
    h1 {
    padding-left: .5em;
    }
    h5 {
    color: grey;
    text-align: center;
    }

}

.left-nav {
	 padding: 1em;
	 h5 {
	 padding-right: 60%;
	 text-align: center;
	 color: #125688;
	 margin-bottom: 2em;
	 }
}

	h1 {
	 margin-left: .6em;
	 padding-bottom: .3em;
	 color: #bd3381;

  .input[type=text] {
     float: right;
     width: 5em;
     -webkit-transition: width 0.4s ease-in-out;
     transition: width 0.4s ease-in-out;

}

    /* When the input field gets focus, change its width to 100% */
    input[type=text]:focus {
    width: 50%;
}
	}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    margin-top: 1em;

    a {
    margin-left: 1em;
    color: #4741ce;
    }
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#33b5e5;
    color: #b218a3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    list-style-type: none;
}

li.menu {
	list-style-type: none;
	color: #b218a3;
}
.menu li:hover {
    background-color: #0099cc;
}

.columns-container {

	margin-left: em;
	h1 {
	margin:auto;
    vertical-align:middle;
	color: #125688;
	}
	p {
	text-align: left;
	}
	a {
	color: #bd3482
	}
}

h1 input {
     font-color: #4741ce;
     font-size: 22px;
	 float: right;
	 border-color: #edeeee;
     border-style: solid;
     border-radius: 3px;
     border-width: 1px;
}


















 body {
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.navbar {
   display: inline-block;
   vertical-align: top;
   padding: 1em;
   width: 100%;

   h1 {

   float: left;
   }

}

.nav-links a {
  float: right;
  padding: 5px;
}


.navbar-brand {
  a {
    color: #125688;
  }
}

.navbar-default {
  background-color: #fff;
  height: 54px;
  .navbar-nav li a {
    color: #125688;
  }
}

.navbar-container {
  width: 640px;
  margin: 0 auto;
}

.displays-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  width: 100%;
  height: 250px;

}

.displays-wrapper {
	padding-top: 3%;
}


.display {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.display-head {
  color: #ffffff;
  background-color: #337ab7;
  height: 64px;
  padding: 14px 20px;
  color: #125688;
  font-size: 15px;
  line-height: 18px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: #ccc;
  .thumbnail {}
  .name {
    color: #ffffff;
    display: block;

  }
  p {
  text-align: center;
  }
}

.index-h2 {
	color: #125688;
}

.display-each {
  float: left;
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  margin-bottom: 8em;
  margin-top: 2em;
  margin-left: .5em;
  margin-right: .5em;
}

div.img-container {
  height: 250px;

}

.img-responsive-small {
	height: 200px;
	padding-top: 4%;
	margin-top: 4%;
	float: left;
}

.img-index {
	min-height: 550px;
}

.jumbotron {
    width: 100%;
	padding: 5%;
	background-color: white;
}

.jumbo-container {
  width: 100%;
}


.image {
  border-bottom: 1px solid #eeefef;
  border-top: 1px solid #eeefef;
}

.img-responsive {
    height: auto;
}

.caption {
  padding: .5em;
  font-size: 15px;
  line-height: 18px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: #ccc;
  height: 5em;
  color: #125688;
}


.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

button.navbar-toggle-collapsed {
	width: 10em;

}

.text-center {
	padding: 10%;
	a {
	padding: 10%;
	}
}

.form-wrapper {
	text-align: center;
}

input#display_image {
	padding-left: 25%;
	margin: 2em;
}


.left-col {
    float: left;
    width: 30%;
    height: 335px;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-radius: 25px;
    border-color: #ccc;
    padding: 2%;
    margin-top: 1em;
    margin-bottom: 3em;

    .btn {
    padding: .2em;
    }

}
.center-col {
    float: left;
    width: 30%;
    height: 335px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1em;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-radius: 25px;
    border-color: #ccc;
    padding: 2%;

    .btn {
    padding: .2em;
    }

}
.right-col {
    float: left;
    width: 30%;
    height: 335px;
    margin-top: 1em;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-radius: 25px;
    border-color: #ccc;
    padding: 2%;


    .btn {
    padding: .2em;
    }
}


ul.img-container {
    width: 25%;
    height: 25%;
    float: left;


}




